body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #d1d1c9;
  overflow-x: hidden; }

.container {
  position: relative;
  margin: auto;
  width: 90%; }

h1 span, h2 span, h3 span {
  font-weight: normal;
  letter-spacing: 4px;
  font-size: 17px;
  display: block;
  line-height: 30px;
  color: #85857b;
  font-family: sans-serif; }

p {
  font-size: 15px;
  color: #85857b;
  font-family: sans-serif; }

a {
  color: #dc7625;
  text-decoration: none; }

img {
  max-width: 100%; }

header {
  color: white;
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url("../img/hero-slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.flex-menu {
  padding: 2%;
  display: flex;
  justify-content: space-between; }

#logo {
  position: absolute;
  top: 15px;
  width: 240px;
  height: 50px; }

#logo .mark {
  width: 40px;
  height: 40px;
  vertical-align: top; }

#logo .text {
  vertical-align: top;
  width: 144px;
  height: 40px; }

nav {
  display: none; }

header #menu-btn span {
  display: block;
  height: 2px;
  background: #ffffff;
  margin: 5px 0px; }

header #menu-btn a {
  display: block; }

header #menu-btn {
  display: block;
  width: 30px;
  right: 0px; }

.header-content {
  text-align: center;
  margin-top: 5%;
  font-size: 20px; }

.header-content span {
  font-size: 11px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.header-content h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500; }

.heading-sep {
  margin: 35px auto;
  margin-bottom: 20px;
  background: white;
  width: 250px;
  height: 5px; }

.play-btn {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  transform: scale(1);
  transition: transform 0.3s, opacity 0.3s; }

.play-btn img {
  width: 30px;
  padding: 30px 0px 30px 40px; }

.gallery {
  background: #d1d1c9;
  padding: 1px 0px; }

.rafting {
  background: url("../img/home/raft.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.base-camp {
  background: url("../img/home/basecamp.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.backpacking {
  background: url("../img/home/backpacking.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.canoe {
  background: url("../img/home/canoe.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.photography {
  background: url("../img/home/photo.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.custom {
  background: url("../img/home/custom.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: auto;
  margin: 5%; }

.icon {
  width: 100%;
  position: relative;
  top: 38%;
  left: 0px;
  text-align: center; }

.icon img {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 29.5px;
  padding: 14px; }

.trip-text {
  position: relative;
  left: 40px;
  top: 98px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 22px; }

.trip-sep {
  background: #dc7725;
  height: 5px;
  width: 40px;
  margin-bottom: 15px; }

#experience {
  background: #e6e6e0;
  border-top: 1px solid white; }

#experience-items {
  display: none; }

#experience-text {
  line-height: 24px;
  text-align: center;
  padding: 60px 0px; }

@media (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap; }

  .rafting, .custom {
    width: 100%;
    height: 33.3vh; }

  .base-camp, .backpacking, .canoe, .photography {
    width: 50%;
    height: 33.3vh; }

  .trip {
    margin: 0; }

  #experience {
    border: none; } }
@media (min-width: 961px) {
  header {
    height: 100%; }

  .container {
    width: 900px; }

  nav {
    width: 635px;
    top: 80px;
    display: show;
    position: absolute;
    color: white; } }

/*# sourceMappingURL=main.css.map */
